*{
  box-sizing: border-box;
}

p {
  margin: 0;
}

body{
  padding: 150px 0px 0px 300px;
  margin: 0px;
  height: 100vh;
  background-color: #dee2e6;
}
.header-main {
  background-color: #00b4d8;
  position: fixed;
  top: 0px;
  left: 300px;
  right: 0;
  height: 150px;
  display: flex;
  flex-flow: column nowrap;
}

.header-navbar {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.header-searchbar {
  flex: 3;
  display: flex;
  flex-flow: row nowrap;
  margin: 0px 50px;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 30px;
  border: none;
  padding: 0px 15px;
  border-radius: 10px 0px 0px 10px;
}

.searchbar {
  flex: 1;
  height: 30px;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: none;
  width: 0;
}

.header-notifs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-right: 20px;
}

.header-welcome {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: end; 
}

.welcome-profile {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 30px;
}

.welcome-buttons {
  margin-bottom: 10px;
  margin-right: 220px;
}

.nav-main {
  position: fixed;
  inset: 0px;
  width: clamp(200px, 30%, 300px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  background-color: #00b4d8;
  color: white;
  z-index: 100;
  padding-left: 20px;
}

.nav-logo {
  margin-bottom: 60px;
}

.nav-list {
  list-style-type: none;
  padding: 0px;
}

.nav-item {
  text-decoration: none;
  margin: 20px 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.nav-item:hover {
  cursor: pointer;
  animation: jump-shake 3s;
}

@keyframes jump-shake {
  0%, 100% {
    transform: translateY(0) rotate(0);
}
10%, 30%, 50%, 70%, 90% {
    transform: translateY(-20px) rotate(-5deg);
}
20%, 40%, 60%, 80% {
    transform: translateY(-10px) rotate(5deg);
}
}

.icon {
  width: 30px;
}

.nav-item p {
  margin: 0px 0px 0px 20px;
  font-size: 20px;
}

.nav-settings {
  margin-top: 50px;
}

.content-main {
  padding: 10px 30px 0px 30px;
  display: flex;
}
.left-main {
  flex: 7;
}

.projects-grid {
  margin: 40px 40px 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
  gap: 25px;
  height: 500px;
}

.item {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  padding: 20px 20px 10px 20px;
  border-left: 5px solid #6f4518;
}

.item-title {
  font-family: roca, sans-serif;
  font-style: normal;
  font-size: 17px;
  color: black;
  padding: 0px 0px 5px 0px;
  border-bottom: 3px solid skyblue;
  border-radius: 0px;
}

.item-content {
  font-family: baskerville, sans-serif;
  color: rgb(74, 73, 73);
  padding-top: 10px;
  overflow-y: scroll;
}

.item-buttons {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: end;
}

.button-sprite {
  height: 30px;
  width: 30px;
  margin: 0px 5px 0px 5px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  transition: background-image 0s ease;
  padding: 0px;
  cursor: pointer;
}

.trash-sprite {
  background-image: url("images/TrashcanSprite_1.png");
}

.trash-sprite:hover {
  background-image: url("images/TrashcanSprite_2.png");
}

.star-sprite {
  background-image: url("images/CuteStarSprite_1.png");
  margin-bottom: -3px;
}

.star-sprite:hover {
  animation: spin .7s ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.edit-sprite {
  background-image: url("images/PencilSprite_1.png");
  height: 25px;
  margin-bottom: 1px;
  margin-right: 0px;
}

.edit-sprite:hover {
  transform: translateY(-3px) rotate(10deg);
}

.right-main {
  flex: 3;
}

.assignments,
.feed {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.assignments-header,
.feed-header {
 padding-top: 40px;
}

.assignments-grid,
.feed-grid {
  display: grid; 
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 80px;
  grid-auto-rows: 80px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  background-color: white;
}

.assignments-item {
}

.assignments-item:not(:last-child),
.feed-item:not(:last-child)
 {
  border-bottom: 2px solid grey;
}