*{
  box-sizing: border-box;
}

p {
  margin: 0;
}



body{
  padding: 150px 0px 0px 300px;
  margin: 0px;
  height: 100vh;
  background-color: #f2f2f2;
}
.header-main {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 300px;
  right: 0;
  height: 150px;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column nowrap;
}

.header-navbar {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.header-searchbar {
  flex: 3;
  display: flex;
  flex-flow: row nowrap;
  margin: 0px 50px;
  justify-content: flex-start;
  align-items: center;
}

.search-button {
  height: 30px;
  padding: 0px 15px;
  border-radius: 10px 0px 0px 10px;
  border: .5px solid;
  background-color: #f2f2f2;
}

.searchbar {
  flex: 1;
  height: 30px;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: .5px solid;
  width: 0;
  max-width: 600px;
  padding-left: 20px;
  font-family: baskerville, sans-serif;
}

.header-notifs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-right: 20px;
}

.header-welcome {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: end; 
  margin-bottom: 10px;
}

.welcome-profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; 
  margin-left: 30px;
}

.profile-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50px;
}

.welcome-message {
  font-family: roca, sans-serif;
  margin-left: 10px;
}

.welcome-buttons {
  margin-bottom: 10px;
  margin-right: 175px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.welcome-buttons button {
  height: 36px;
  width: auto;
  background-color: #00b4d8;
  color: white;
  border: none;
  padding: 5px 15px 2px 15px;
  font-family: roca, sans-serif;
  border-radius: 40px;
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, .3);
}

.welcome-buttons button:hover {
  cursor:pointer;
}

.nav-main {
  position: fixed;
  inset: 0px;
  width: clamp(200px, 30%, 300px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  background-color: #00b4d8;
  color: white;
  z-index: 100;
  padding-left: 20px;
}

.nav-logo {
  margin-bottom: 60px;
}

.nav-list {
  list-style-type: none;
  padding: 0px;
}

.nav-item {
  text-decoration: none;
  margin: 20px 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.nav-item:hover > :first-child {
  animation: jump-shake 1s;
}

@keyframes jump-shake {
  0%, 100% {
    transform: translateY(0) rotate(0);
}
10%, 50%, 90% {
    transform: translateY(-10px) rotate(-5deg);
}
30%, 70% {
    transform: translateY(-10px) rotate(5deg);
}
}

.icon {
  width: 30px;
}

.nav-item p {
  margin: 0px 0px 0px 20px;
  font-size: 20px;
}

.nav-settings {
  margin-top: 50px;
}

.content-main {
  padding: 10px 30px 0px 30px;
  display: flex;
}
.left-main {
  flex: 7;
}

.project-title {
  margin: 0;
  font-family: baskerville, sans-serif;
  font-size: 25px;

}

.projects-grid {
  margin: 30px 40px 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
  gap: 25px;
  height: 500px;
}

.item {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  padding: 20px 20px 10px 20px;
  border-left: 5px solid #6f4518;
}

.item-title {
  font-family: roca, sans-serif;
  font-style: normal;
  font-size: 17px;
  color: black;
  padding: 0px 0px 5px 0px;
  border-bottom: 3px solid skyblue;
  border-radius: 0px;
}

.item-content {
  font-family: baskerville, sans-serif;
  color: rgb(74, 73, 73);
  padding-top: 10px;
  overflow-y: scroll;
}

.item-buttons {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: end;
}

.button-sprite {
  height: 30px;
  width: 30px;
  margin: 0px 5px 0px 5px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  transition: background-image 0s ease;
  padding: 0px;
  cursor: pointer;
}

.trash-sprite {
  background-image: url("images/TrashcanSprite_1.png");
}

.trash-sprite:hover {
  background-image: url("images/TrashcanSprite_2.png");
}

.star-sprite {
  background-image: url("images/CuteStarSprite_1.png");
  margin-bottom: -3px;
}

.star-sprite:hover {
  animation: spin .7s ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.edit-sprite {
  background-image: url("images/PencilSprite_1.png");
  height: 25px;
  margin-bottom: 1px;
  margin-right: 0px;
}

.edit-sprite:hover {
  transform: translateY(-3px) rotate(10deg);
}

.right-main {
  flex: 3;
}

.todoList,
.feed {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.todoList-header,
.feed-header {
 padding-bottom: 10px;
 font-family: baskerville, sans-serif;
 font-size: 20px;
}

.todoList-grid,
.feed-grid {
  display: grid; 
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 90px;
  grid-auto-rows: 90px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 30px;
  background-color: white;
}

.todoList-item,
.feed-item {
  padding: 10px 0px;
  overflow-y: scroll;
} 

.todoList-item:not(:last-child),
.feed-item:not(:last-child)
 {
  border-bottom: 2px solid grey;
}

.todo-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 3px;
}

.feed-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.todo-content {
  font-size: .8rem;
  color: rgb(74, 73, 73);
}

.feed-profile {
  height: 64px;
  width: 64px;
  border-radius: 100px;
  object-fit: cover;
}

.feed-post {
  margin-left: 10px;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  font-family: baskerville;
  height: 100%;
}

.feed-user {
  color: black;;
  padding: 2px 0px 6px 0px; 
}

.feed-message {
  color: rgb(74, 73, 73);
}